.statsTable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 12px;
  margin-bottom: 8px;
}

.statsTableHeaderCell {
  padding: 0 4px 0 4px;
  text-align: center;
  color: var(--light-blue);
  border-bottom: 1px solid var(--gray-3);

  &--left {
    text-align: left;
    padding: 0 4px 0 0;
  }

  &--right {
    text-align: right;
    padding: 0 0 0 4px;
  }
}

.statsTableCell {
  padding: 8px 4px 0 4px;
  text-align: center;

  &--left {
    text-align: left;
    padding-left: 15%;
  }

  &--right {
    text-align: right;
    padding-right: 20%;
  }
}
