@import '../../styles/shadows';
@import '../../styles/mixins';

.accordionHeader {
  background-color: var(--blue-1);
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  cursor: pointer;
  @include no-select;
  @include shadow-2;
  border-radius: 5px;

  &:focus,
  &:hover {
    font-weight: bold;
    outline: none;
  }
}

.logoContainer {
  margin: 0 12px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  @include shadow-2;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  flex: 1;
  font-weight: inherit;
}

.accordionIcon {
  transition: transform 0.2s;
}

.accordionIcon--active {
  transform: rotate(-90deg);
}
