.link {
  color: inherit;
  text-decoration: inherit;

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.container {
  padding: 12px 8px 12px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-0-0);
  }
}

.name {
  margin-left: 12px;
  font-size: 14px;
  flex: 1;
}
