@import '../../styles/shadows';

.link {
  color: inherit;
  text-decoration: inherit;

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.container {
  padding: 12px 8px 12px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-0-0);
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  @include shadow-2;
  border-radius: 50%;
}

.name {
  margin-left: 12px;
  font-size: 16px;
  flex: 1;
  margin-right: 6px;
}
