:root {
  --black: #1b2125;
  --blue-0-0: #1d2428;
  --blue-0: #212b33;
  --blue-1: #293842;
  --white: #e8e6e1;
  --gray-2: #414f58;
  --gray-3: #68737a;
  --warm-gray-2: #4e5753;
  --orange-4: #a27c1a;
}
