@import '../../styles/shadows';
@import '../../styles/mixins';

.accordionHeaderContainer {
  background-color: var(--blue-1);
  width: 100%;
  cursor: pointer;
  @include no-select;
  @include shadow-2;
  border-radius: 5px;
  padding: 4px 0;

  &:focus,
  &:hover {
    font-weight: bold;
    outline: none;
  }
}

.accordionHeader {
  display: flex;
  align-items: center;
  height: 64px;
}

.logoContainer {
  margin: 0 12px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  @include shadow-2;
  border-radius: 50%;
}

.primaryInfo {
  flex: 1;
}

.unitTypeAndClassification {
  font-weight: normal;
  font-size: 13px;
  color: var(--sky-blue);
}

.name {
  font-size: 16px;
  font-weight: inherit;
  margin: 0;
}

.accordionIcon {
  transition: transform 0.2s;
}

.accordionIcon--active {
  transform: rotate(-90deg);
}

.infoAndStats {
  font-weight: normal;
  font-size: 10px;
  padding: 0 8px;
  position: relative;
}

.secondaryInfo {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 480px) {
  .secondaryInfo {
    font-size: 12px;
  }
}

.rulesContainer {
  margin-bottom: 8px;
  flex: 1;
}

.rules {
  margin-top: 4px;
}

.ruleLabel {
  color: var(--light-blue);
}

.infoButton {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.unitIconsContainer {
  position: absolute;
  top: -12px;
}

.statsTableContainer {
  margin-top: 8px;
}
