@import '../../styles/shadows';

.container {
  padding: 0 4px;
}

.contents {
  background-color: var(--blue-0);
  @include shadow-2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
